<% provide(:title, 'About') %>
<% provide(:style, 'about.css.scss') %>
<h1 id="news_title">Cayuga's Watchers in the News</h1>
<%= render 'static_pages/accordion' %>
  <h1 id="mission">Mission Statement</h1>
  <div class="infoBox right-box">
    <p>
      As high risk drinking has become 
      increasingly prominent on college campuses across the country, Cayuga's Watchers aims to reduce the harms associated with excessive 
      alcohol consumption at Cornell University. All Cayuga's Watchers employees will be paid to prevent dangerous situations 
      by learning to recognize the signs of alcohol poisoning, potential cases of sexual assault, report instances of property damage, and engage 
      in effective bystander intervention without attracting attention through extensive training.
    </p>
  </div>
  <h1 id="goal">Our Goal</h1>
  <div class="infoBox left-box">
    <p>
      The ultimate objective of Cayuga's Watchers is to change how students perceive and respond to high-risk drinking. As we employ and 
      affiliate increasingly more students with our organization, more students at Cornell University inevitably will be prepared to respond to 
      emergency medical situations that involve alcohol, which serves to improve the campus culture surrounding high-risk drinking. In sum, Cayuga's 
      Watchers provides students with an opportunity to ensure the security of their peers and change how students perceive and respond to high-risk 
      drinking at Cornell University.
    </p>
  </div>
  <%= render 'static_pages/e_board' %>