<% provide(:title, 'About') %>
<% provide(:style, 'about.css.scss') %>
<h1>Cayuga's Watchers in the News</h1>
<div id="accordion">
  <h3><a href="#">Cornell Chronicle</a></h3>
  <div>
    <h4>Cayuga's Watchers aim for friendly intervention</h4>
          <p>
  Arriving on campus her freshman year, Maria (not her real name) was struck by the number of
          parties that included alcohol. Now a sophomore, Maria is a charter member of the student-run 
          organization Cayuga's Watchers, which sends peer intervention teams to parties...
          <a href="http://www.news.cornell.edu/stories/2013/11/cayugas-watchers-aim-friendly-intervention">Want to read the full article?</a>
    </p>
  </div>
  <h3><a href="#">Cornell Daily Sun</a></h3>
  <div>
    <p>
      After several months of jumping through logistical hurdles, Cayuga's Watchers — a 
              student run campaign that aims to combat high-risk drinking through bystander intervention — 
              will officially launch next month. <br>
    University-affiliated organizations can employ students who have been trained as Cayuga's Watchers 
              at events to recognize signs of excessive intoxication in attendees and seek appropriate assistance... 
              <a href="http://cornellsun.com/blog/2013/09/26/cayugas-watchers-to-launch-in-october/">Want to read the full article?</a>
    </p>
  </div>
</div>
  <h1 id="mission">Mission Statement</h1>
  <div class="infoBox" id="first">
      <p>As high risk drinking has become 
      increasingly prominent on college campuses across the country, Cayuga's Watchers aims to reduce the harms associated with excessive 
      alcohol consumption at Cornell University. All Cayuga's Watchers employees will be paid to prevent dangerous situations 
      by learning to recognize the signs of alcohol poisoning, potential cases of sexual assault, report instances of property damage, and engage 
      in effective bystander intervention without attracting attention through extensive training.</p>
  </div>
  <h1 id="goal">Our Goal</h1>
  <div class="infoBox" id="second">
      <p>The ultimate objective of Cayuga's Watchers is to change how students perceive and respond to high-risk drinking. As we employ and 
      affiliate increasingly more students with our organization, more students at Cornell University inevitably will be prepared to respond to 
      emergency medical situations that involve alcohol, which serves to improve the campus culture surrounding high-risk drinking. In sum, Cayuga's 
      Watchers provides students with an opportunity to ensure the security of their peers and change how students perceive and respond to high-risk 
      drinking at Cornell University.</p>
  </div>
  <h1 id="meet">Meet Our Board</h1>
  <div id="table">
      <div class="tableRow">
        <div class="tableCell">
            <img src="images/Eric picture.png" width="150px">
              <h2>Eric Silverberg</h2>
              <h3>President and Co-Founder</h3>
          </div>
          <div class="tableCell">
            <img src="images/Hannah picture.png" width="150px">
              <h2>Hannah James</h2>
              <h3>Director of Operations</h3>
          </div>
          <div class="tableCell">
            <img src="images/blank.jpg" width="150px">
              <h2>Michael Riyad</h2>
              <h3>VP of Recruitment</h3>
          </div>
      </div>
      <div class="tableRow">
        <div class="tableCell">
            <img src="images/Mike picture.png" width="150px">
              <h2>Mike Ostro</h2>
              <h3>VP of Outreach</h3>
          </div>
          <div class="tableCell">
            <img src="images/Kendall picture.png" width="150px">
              <h2>Kendall Stokes</h2>
              <h3>VP of Training</h3>
          </div>
          <div class="tableCell">
            <img src="images/Sarah picture.png" width="150px">
              <h2>Sarah Reitman</h2>
              <h3>VP of Internal Operations</h3>
          </div>
      </div>
      <div class="tableRow">
        <div class="tableCell">
            <img src="images/Chris picture.png" width="150px">
              <h2>Chris Wang</h2>
              <h3>VP of Scheduling</h3>
          </div>
          <div class="tableCell">
            <img src="images/blank.jpg" width="150px">
              <h2>Noah Liff</h2>
              <h3>VP of Finance</h3>
          </div>
          <div class="tableCell">
            <img src="images/John picture.png" width="150px">
              <h2>John Mueller</h2>
              <h3>Co-Founder</h3>
          </div>
      </div>
      <div class="tableRow">
        <div class="tableCell empty"></div>
          <div class="tableCell">
            <img src="images/Adam picture.png" width="150px">
              <h2>Adam Gitlin</h2>
              <h3>Co-Founder</h3>
          </div>
          <div class="tableCell empty"></div>
      </div>
  </div> 