<% provide(:title, 'Apply') %>
<% provide(:style, 'apply.css.scss') %>
<h1 id="mission">Apply to be a Watcher Now!</h1>
<div class="infoBox" id="first">
  <p>
    Want to become a Cayuga's Watcher? <%= link_to "Click 
    here", "https://docs.google.com/a/cayugaswatchers.org/spreadsheet/viewform?formkey=dEtEOVpZelNnVjVsaFlqeTRXc0lka0E6MA#gid=0and" %> to apply now!
  </p>
</div>