<% provide(:title, 'Contact Us') %>
<% provide(:style, 'contact.css.scss') %>
<h1>Get in touch</h1>
<div class="infoBox" id="first">
  <form action="scripts/feedback.php" method="post">
    <label for="tswname">Name:</label>
      <input type="text" name="fullname" id="tswname" size="25" /><br>
    <label for="tswemail">Email address:</label>
      <input type="text" id="tswemail" name="email" size="25" /><br><br>
    <label for="tswcomments">Message</label><br />
    <textarea rows="15" cols="80" rows="10" name="comments" id="tswcomments"></textarea>
      <input type="submit" value="Submit"> 
  </form>

</div>