<% provide(:title, 'Cayugas Watchers') %>
<% provide(:style, 'index.css.scss') %>
<%= image_tag("banner.jpg", id: "banner", alt: "Keep the party going!") %>
<div id="cloud">
  <h1>What are we?</h1>
  <%= image_tag("word_cloud.png", size: "850x370") %>
</div>
