<% provide(:title, 'Services') %>
<% provide(:style, 'services.css.scss') %>
<h1 id="working_title">Working an Event</h1>
<div class="infoBox" id="first">
    <h2>Prior to Event Day</h2>
    <ul>
      <li>Cornell University student organization planning to host a social event contacts Cayuga's Watchers (link to schedule event page) to aid in promoting a fun and safe environment.</li> 
        <li>After confirming the date, time, and duration of event as well as the anticipated number of guests, Cayuga's Watchers agrees to assist hosting organization free of charge.</li>
        <li>All information provided is strictly confidential</li>
</ul>
<h2>On Event Day</h2>
    <ul>
      <li>Cayuga's Watchers event team arrives thirty minutes prior to event to acquaint themselves with hosting organization, coordinate event logistics, and review expectations.</li>
        <li>During event, Cayuga's Watchers event team socializes with fellow partygoers while remaining anonymous, sober, and aware of their surroundings by checking designated party locations in regular intervals.</li>
        <li>If necessary, Cayuga's Watchers team member(s) engages fellow partygoers in a non-confrontational, peer-to-peer fashion to diffuse potentially harmful situations.</li>
<li>In the event of an emergency, Cayuga's Watchers team members contact emergency personnel and hosting organization to ensure that due care is provided and the safety of all students in attendance.</li>
    </ul>
    <h2>Post-Event</h2>
    <ul>
      <li>Cayuga's Watchers event team makes one final check of the premises to be certain that all attendees are safe.</li>
        <li>Cayuga's Watchers event team meets with hosting organization leadership to for brief review.</li>
        <li>Cayuga's Watchers event team notes event details in post-event evaluation form, information that is strictly confidential and will aid in enhancing future services.</li>
    </ul>
</div>
