<%= form_for(current_employee.event_employees.build(event_id: @event.id)) do |f| %>
  <div><%= f.hidden_field :event_id %></div>
  <%= f.submit "I'm Available!", class: "btn btn-small btn-primary" %>
<% end %>