<% provide(:title, 'All events') %>
<% @events = Event.paginate(page: params[:page]) %>
<h1>All posted events</h1>

<% will_paginate %>

<% if @events.any? %>
  <ul class="events">
    <%= render @events.order('name ASC') %>
  </ul>
<% else %>
  <div class="events">Nothing posted currently, check back soon!</div>
<% end %>

<% will_paginate %>