@import "bootstrap";

// variables and mixins

$transWhite: rgba(255,255,255,0.95);

@mixin box_sizing {
  -maz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face { 
  font-family: Bellerose; 
  src: font-url('Bellerose.ttf'); 
  font-weight: normal;
  font-style: normal;
}
@font-face { font-family: Engel; 
  src: font-url('EngelLight_ltd.ttf'); 
  font-weight: normal;
  font-style: normal;
}

html {
  overflow-y: scroll;
}

#login {
  position: absolute;
  left: 0px;
  top: 100px;
  width: 200px;
  background-color: white;
  border: thin black solid;
  padding: 20px;
  box-shadow: 2px 2px 2px #252525;
  ul {
    list-style: none;
  }
}

h1 {
  margin-left: 40px;
}

h1, h2 {
  font-family:Bellerose;
}

hr {
  margin-top: -1px;
  width:90%;
  background-color: white;
  color: #990000;
  border-style: inset;
  border-width: 1px;
}

body {
  padding-top: 30px;
  background-color: #6B0000;
}

#container {
  font-family: Engel;
  width:1200px;
  font-size:medium;
  margin:0px;
  margin-left:auto;
  margin-right:auto;
}

header {
  background-color:#F1F1F1;
  width:1000px;
  margin:0px;
  margin-right:auto;
  margin-left:auto;
  padding-bottom:5px;
  border-left: #CCC solid thick;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 8px 8px 8px black;
  img {
    margin-top:20px;
    width:50%;
    margin-right: 250px;
    margin-left: 250px;
    padding-bottom: 20px;
  }
  a:hover {
    text-decoration: none;
  }
}

a {
  text-decoration:none;
  color:black;
}

nav {
  width: 70%;
  margin-right: auto;
  margin-left: 180px;
  ul {
    list-style: none;
    position: relative;
    display: inline-table;
    li {
      float: left;
      a {
        padding: 2px;
        margin: 18px;
        &:hover {
          color:white;
        }
      }
    }
  }
}

#content {
  background-image:image-url('CW-Background.png');
  background-repeat:no-repeat;
  background-color:#F1F1F1;
  background-position:center top;
  padding-bottom: 150px;
  width:1000px;
  padding-top:20px;
  margin-right:auto;
  margin-left:auto;
  border-left: #CCC solid thick;
  box-shadow: 8px 8px 8px black;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  min-height: 950px;
}

#mission {
  margin-right:auto;
  margin-left:100px;
  font-size:175%;
}

#goal {
  margin-right:150px;
  margin-left:600px;
  font-size:175%;
}

.infoBox {
  display:table;
  border-spacing: 30px;
  border: #666 thin solid;
  background-color:white;
  background-color:rgba(255,255,255,0.75);
  margin-right: 40px;
  margin-left: 40px;
  font-size:110%;
  a {
    font-weight: bold;
  }
}

.right-box {
  margin-right:250px;
}

.left-box {
  margin-left:250px;
}

aside {
  float: right;
  width: 250px;
  margin-right:auto;
  margin-left:auto;
  margin-top:40px;
  padding: 30px;
  padding-bottom:50px;
  padding-top:0;
  background-color:rgba(255,255,255,0.95);
  border: #666 thin solid;
  box-shadow: 3px 3px 3px #252525;
  p {
    font-size:120%;
  }
  a {
    font-weight:bold;
  }
}

// index page

#banner {
  margin-left: 30px;
  border: thin black solid;
}

#cloud {
  h1{
    margin: 0;
  }
  margin: 40px;
  padding: 30px;
  padding-top: 0;
  background-color:$transWhite;
  border: #666 thin solid;
}

// about page

#news_title {
  margin-left: 30px;
  margin-bottom: 0;
}

#accordion {
  padding: 10px;
  width: 700px;
  h3 {
    background-color: $transWhite;
    border: solid medium $grayLight;
    padding: 10px;
    margin-bottom: 0;
  }
  div {
    background-color: $transWhite;
    border: solid medium $grayLight;
    border-top: none;
    padding: 10px;
  }
  a { 
    font-weight: bold;
    &:hover {
      text-decoration: none;
      color: black;
    }
  }
}

#request {
  margin-right:auto;
  margin-left: 100px;
  font-size:175%;
}

#table {
  display: table;
  border-spacing: 40px;
  text-align:center;
  margin-right:auto;
  margin-left:auto;
}

.tableRow {
  display: table-row;
  height: 250px;
}

.tableCell {
  vertical-align: top;
  display: table-cell;
  text-align:center;
  margin-right:auto;
  margin-left:auto;
  border: #666 thin solid;
  background-color:rgba(100,100,100,0.15);
  padding:5px;
  img {
    padding:5px;
    border: #666 thin solid;
    background-color: white;
  }
  h2, h3 {
    margin:5px;
    text-align:center;
    margin-right: auto;
    margin-left: auto;
  }
}

.empty {
  background-color:transparent;
  border:none;
}

#meet {
  text-align:center;
  margin-right:auto;
  margin-left:auto;
}

// services

#working_title {
  margin-left: 30px;
}

// employees index

.employees {
  list-style: none;
  margin: 50px;
  padding: 20px;
  width: 300px;
  border: solid thin black;
  background-color: $transWhite;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

// events

.events {
  list-style: none;
  margin: 50px;
  padding: 20px;
  width: 300px;
  border: solid thin black;
  background-color: $transWhite;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

.event {
  margin: 50px;
  padding: 20px;
  width: 300px;
  border: solid thin black;
  background-color: $transWhite;
}

.add {
  margin-top: 10px;
  padding: 5px;
  border: solid medium $grayLight;
  background-color: $transWhite;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


