@charset "UTF-8";
/* CSS Document */

#banner {
  margin-left:30px;
  border: thin black solid;
}

#cloud {
  h1 {
    margin:0px;
  }
  margin:40px;
  padding: 30px;
  padding-top:0;
  background-color:rgba(255,255,255,0.85);
  border: #666 thin solid;
}