<header>
  <img src="images/CW Logo.png">
  <nav>
    <hr style='margin-top: -1px; width:90%; color: #990000;'>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="About.html">About Us</a></li>
      <li><a href="Services.html">Services</a></li>
      <li><a href="Testimonials.html">Testimonials</a></li>
      <li><a href="Apply.html">Apply Now</a></li>
      <li><a href="Contact.html">Contact Us</a></li>
    </ul>
    <hr style='margin-top: -1px; width:90%; color: #990000;'>
  </nav>
</header>