<aside>
<h2>Call The Watchers!</h2>
  <p>
    Check out the <a href="Services.html">services</a> we provide and have a team of Watchers at your next party. Want to get involved? <a href="https://docs.google.com/a/cayugaswatchers.org/spreadsheet/viewform?formkey=dEtEOVpZelNnVjVsaFlqeTRXc0lka0E6MA#gid=0and">Apply now</a> to become a part of the team, and make a difference in the safety and health of your peers.
  </p>
</aside>