<aside>
<h2>Call The Watchers!</h2>
  <p>
    Check out the <%= link_to "services", services_path %> we provide and have a team of Watchers at your next party. Want to get involved? <%= link_to "Apply now!", "https://docs.google.com/a/cayugaswatchers.org/spreadsheet/viewform?formkey=dEtEOVpZelNnVjVsaFlqeTRXc0lka0E6MA#gid=0and" %> to become a part of the team, and make a difference in the safety and health of your peers.
  </p>
</aside>